<div class="container">
  <div class="header-grid">
    <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
      <ul>
        <li class="links" (click)="logout()" *ngIf="showlogout"><i class="glyphicon glyphicon-log-out links" aria-hidden="true"></i><span>Logout</span></li>
        <li class="links" data-toggle="modal" data-target="#loginModal" *ngIf="!showlogout"><i class="glyphicon glyphicon-log-in links" aria-hidden="true"></i><span>Login</span></li>
        <li class="links" data-toggle="modal" data-target="#registerModal" *ngIf="!showlogout"><i class="glyphicon glyphicon-book" aria-hidden="true"></i><span>Register</span></li>
      </ul>
    </div>
    <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
      <ul class="social-icons">
        <li>
          <a href="#" class="facebook"></a>
        </li>
        <li>
          <a href="#" class="twitter"></a>
        </li>
        <li>
          <a href="#" class="g"></a>
        </li>
        <li>
          <a href="#" class="instagram"></a>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="logo-nav">
    <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
      <h1><a href="#/">Buy Local <span>Shop anywhere</span></a></h1>
    </div>
    <div class="logo-nav-left1">
      <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header nav_2">
          <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
        </div>
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
          <ul class="nav navbar-nav">
            <li [ngClass]="{'active':activeMenuTab == 0}"><a href="#/" class="act">Home</a></li>
            <li [ngClass]="{'active':activeMenuTab == 1}" *ngIf="showlogout"><a href="#/store" class="act" (click)="NavigateTo('store')">My Store</a></li>
            <li [ngClass]="{'active':activeMenuTab == 3}" *ngIf="showlogout"><a href="#/order" class="act" (click)="NavigateTo('order')">Orders</a></li>
            <li [ngClass]="{'active':activeMenuTab == 4}" *ngIf="showlogout"><a href="#/courier" class="act" (click)="NavigateTo('courier')">Courier</a></li>
            <!-- Mega Menu -->
            <li class="dropdown">
              <a href="#" [ngStyle]="{'color':activeMenuTab == 2 ? '#d8703f' : '#777'}" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
              <ul class="dropdown-menu multi-column columns-3" style="margin-left: -402px !important; min-width: 1200px !important;">
                <div class="row">
                  <div class="col-sm-2">
                    <ul class="multi-column-dropdown">
                      <h6 style="font-size: 1em !important;">Electronics & Computers</h6>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'TV & Video')">TV & Video</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Home Audio & Theater')">Home Audio & Theater</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Camera, Photo & Video')">Camera, Photo & Video</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Cell Phones & Accessories')">Cell Phones & Accessories</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Headphones')">Headphones</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Video Games')">Video Games</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Bluetooth & Wireless Speakers')">Bluetooth & Wireless Speakers</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Car Electronics')">Car Electronics</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Musical Instruments')">Musical Instruments</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Wearable Technology')">Wearable Technology</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Electronics Showcase')">Electronics Showcase</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Computers, Tablets, & PC Products')">Computers, Tablets, & PC Products</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Monitors')">Monitors</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Accessories')">Accessories</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Networking')">Networking</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Drives & Storage')">Drives & Storage</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Computer Parts & Components')">Computer Parts & Components</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Software')">Software</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Printers & Ink')">Printers & Ink</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Office & School Supplies')">Office & School Supplies</li>
                      <li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Trade In Your Electronics')">Trade In Your Electronics</li>
                    </ul>
                  </div>
                  <div class="col-sm-2">
                    <ul class="multi-column-dropdown">
                      <h6 style="font-size: 1em !important;">Toys, Kids & Baby</h6>
                      <li class="productText" (click)="Navigate('Toys, Kids & Baby', 'Toys & Games')">Toys & Games</li>
                      <li class="productText" (click)="Navigate('Toys, Kids & Baby', 'Baby')">Baby</li>
                      <li class="productText" (click)="Navigate('Toys, Kids & Baby', 'Video Games for Kids')">Video Games for Kids</li>
                      <li class="productText" (click)="Navigate('Toys, Kids & Baby', 'Kids Birthdays')">Kids Birthdays</li>
                      <li class="productText" (click)="Navigate('Toys, Kids & Baby', 'For Girls')">For Girls</li>
                      <li class="productText" (click)="Navigate('Toys, Kids & Baby', 'For Boys')">For Boys</li>
                      <li class="productText" (click)="Navigate('Toys, Kids & Baby', 'For Baby')">For Baby</li>
                     <br>
                      <h6 style="font-size: 1em !important;">Pet Supplies</h6>
                      <li class="productText" (click)="Navigate('Pet Supplies', 'Pet Profile')">Pet Profile</li>
                      <li class="productText" (click)="Navigate('Pet Supplies', 'Dog Supplies')">Dog Supplies</li>
                      <li class="productText" (click)="Navigate('Pet Supplies', 'Dog Food')">Dog Food</li>
                      <li class="productText" (click)="Navigate('Pet Supplies', 'Cat Supplies')">Cat Supplies</li>
                      <li class="productText" (click)="Navigate('Pet Supplies', 'Cat Food')">Cat Food</li>
                      <li class="productText" (click)="Navigate('Pet Supplies', 'Fish & Aquatic Pets')">Fish & Aquatic Pets</li>
                      <li class="productText" (click)="Navigate('Pet Supplies', 'Small Animals')">Small Animals</li>
                      <li class="productText" (click)="Navigate('Pet Supplies', 'Birds')">Birds</li>
                    </ul>
                  </div>
                  <div class="col-sm-2">
                    <ul class="multi-column-dropdown">
                       <h6 style="font-size: 1em !important;">Clothing, Shoes & Jewelry</h6>
                      <li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Women')">Women</li>
                      <li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Men')">Men</li>
                      <li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Girls')">Girls</li>
                      <li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Boys')">Boys</li>
                      <li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Baby')">Baby</li>
                      <li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Luggage')">Luggage</li>
                      <li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Prime Wardrobe')">Prime Wardrobe</li>
                      <br>
                       <h6 style="font-size: 1em !important;">Automotive & Industrial</h6>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Automotive Parts & Accessories')">Automotive Parts & Accessories</li>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Automotive Tools & Equipment')">Automotive Tools & Equipment</li>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Car/Vehicle Electronics & GPS')">Car/Vehicle Electronics & GPS</li>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Tires & Wheels')">Tires & Wheels</li>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Motorcycle & Powersports')">Motorcycle & Powersports</li>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Vehicles')">Vehicles</li>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Your Garage')">Your Garage</li>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Industrial Supplies')">Industrial Supplies</li>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Lab & Scientific')">Lab & Scientific</li>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Janitorial')">Janitorial</li>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Safety')">Safety</li>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Food Service')">Food Service</li>
                      <li class="productText" (click)="Navigate('Automotive & Industrial', 'Material Handling')">Material Handling</li>
                    </ul>
                  </div>
                  <div class="col-sm-2">
                    <ul class="multi-column-dropdown">
                      <h6 style="font-size: 1em !important;">Home, Garden & Tools</h6>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Kitchen & Dining')">Kitchen & Dining</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Furniture')">Furniture</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Bed & Bath')">Bed & Bath</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Appliances')">Appliances</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Garden & Outdoor')">Garden & Outdoor</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Fine Art')">Fine Art</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Arts, Crafts & Sewing')">Arts, Crafts & Sewing</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Pet Supplies')">Pet Supplies</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Wedding Registry')">Wedding Registry</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Event & Party Supplies')">Event & Party Supplies</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Home Improvement')">Home Improvement</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Power & Hand Tools')">Power & Hand Tools</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Lamps & Light Fixtures')">Lamps & Light Fixtures</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Kitchen & Bath Fixtures')">Kitchen & Bath Fixtures</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Hardware')">Hardware</li>
                      <li class="productText" (click)="Navigate('Home, Garden & Tools', 'Smart Home')">Smart Home</li>
                    </ul>
                  </div>
                  <div class="col-sm-2">
                    <ul class="multi-column-dropdown">
                       <h6 style="font-size: 1em !important;">Beauty & Health</h6>
                      <li class="productText" (click)="Navigate('Beauty & Health', 'All Beauty')"> All Beauty</li>
                      <li class="productText" (click)="Navigate('Beauty & Health', 'Luxury Beauty')">Luxury Beauty</li>
                      <li class="productText" (click)="Navigate('Beauty & Health', 'Professional Skin Care')">Professional Skin Care</li>
                      <li class="productText" (click)="Navigate('Beauty & Health', 'Salon & Spa')">Salon & Spa</li>
                      <li class="productText" (click)="Navigate('Beauty & Health', 'Men Grooming')">Men’s Grooming</li>
                      <li class="productText" (click)="Navigate('Beauty & Health', 'Health Household & Baby Care')">Health, Household & Baby Care</li>
                      <li class="productText" (click)="Navigate('Beauty & Health', 'Vitamins & Dietary Supplements')">Vitamins & Dietary Supplements</li>
                      <li class="productText" (click)="Navigate('Beauty & Health', 'Subscribe & Save')">Subscribe & Save</li>
                      <li class="productText" (click)="Navigate('Beauty & Health', 'Prime Pantry')">Prime Pantry</li>
                      <li class="productText" (click)="Navigate('Beauty & Health', 'Sample Boxes')">Sample Boxes</li>
                      <br>
                      <h6 style="font-size: 1em !important;">Handmade</h6>
                      <li (click)="Navigate('Handmade', 'All Handmade')">All Handmade</li>
                      <li (click)="Navigate('Handmade', 'Jewelry')">Jewelry</li>
                      <li (click)="Navigate('Handmade', 'Handbags & Accessories')">Handbags & Accessories</li>
                      <li (click)="Navigate('Handmade', 'Beauty & Grooming')">Beauty & Grooming</li>
                      <li (click)="Navigate('Handmade', 'Home Decor')">Home Decor</li>
                      <li (click)="Navigate('Handmade', 'Artwork')">Artwork</li>
                      <li (click)="Navigate('Handmade', 'Stationery & Party Supplies')">Stationery & Party Supplies</li>
                      <li (click)="Navigate('Handmade', 'Kitchen & Dining')">Kitchen & Dining</li>
                      <li (click)="Navigate('Handmade', 'Furniture')">Furniture</li>
                      <li (click)="Navigate('Handmade', 'Wedding')">Wedding</li>
                      <li (click)="Navigate('Handmade', 'Baby')">Baby</li>
                    </ul>
                  </div>
                  <div class="col-sm-2">
                    <ul class="multi-column-dropdown">
                      <h6 style="font-size: 1em !important;">Sports & Outdoors</h6>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Athletic Clothing')">Athletic Clothing</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Exercise & Fitness')">Exercise & Fitness</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Hunting & Fishing')">Hunting & Fishing</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Team Sports')">Team Sports</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Fan Shop')">Fan Shop</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Golf')">Golf</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Leisure Sports & Game Room')">Leisure Sports & Game Room</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Sports Collectibles')">Sports Collectibles</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'All Sports & Fitness')">All Sports & Fitness</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'New Gear Innovations')">New Gear Innovations</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Camping & Hiking')">Camping & Hiking</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Cycling')">Cycling</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Outdoor Clothing')">Outdoor Clothing</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Scooters, Skateboards & Skates')">Scooters, Skateboards & Skates</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Winter Sports')">Winter Sports</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Climbing')">Climbing</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'Accessories')">Accessories</li>
                      <li class="productText" (click)="Navigate('Sports & Outdoors', 'All Outdoor Recreation')">All Outdoor Recreation</li>
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </ul>
            </li>            
          </ul>
        </div>
      </nav>
    </div>
    <div class="header-right" style="width: 30% !important">
      <div class="cart box_1" (click)="NavigateTo('checkout')">
          <h3 style="cursor: pointer">
            <div class="total" style="margin: 15px !important">
              <span>{{cartTotalPrice | currency:'R '}}</span> (<span> {{cartList.length}}</span> items)</div>
            <img src="../assets/images/bag.png" alt="" />
          </h3>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<!-- Login Modal -->
<div class="login modal fade" id="loginModal">
  <app-login></app-login>
</div>
<!-- //login -->

<!-- register -->
<div class="register modal fade" id="registerModal">
  <app-register></app-register>
</div>
<!-- //register -->