<div class="products">
	<div class="container">
		<div class="col-md-4 products-left">
			<div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
				<h3>Filter By Price</h3>
				<ul class="dropdown-menu1">
					<li>
						<a href="">
							<div id="slider-range"></div>
							<input type="text" id="amount" style="border: 0" />
						</a>
					</li>
				</ul>
				<script type='text/javascript'>
					//<![CDATA[ 
					$(window).load(function () {
						$("#slider-range").slider({
							range: true,
							min: 0,
							max: 100000,
							values: [20000, 80000],
							slide: function (event, ui) {
								$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
							}
						});
						$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));


					});//]]>
				</script>
				<script type="text/javascript" src="js/jquery-ui.min.js"></script>
				<!---->
			</div>
			<div class="categories animated wow slideInUp" data-wow-delay=".5s">
				<h3>Categories</h3>
				<ul class="cate">
					<li>Special Deals <span>(15)</span></li>
					<li data-toggle="collapse" class="productText" data-target="#collapseElectronicsAndComputers">Electronics & Computers <span>(16)</span></li>
					<ul class="collapse" id="collapseElectronicsAndComputers">
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'TV & Video')">TV & Video</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Home Audio & Theater')">Home Audio & Theater</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Camera, Photo & Video')">Camera, Photo & Video</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Cell Phones & Accessories')">Cell Phones & Accessories</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Headphones')">Headphones</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Video Games')">Video Games</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Bluetooth & Wireless Speakers')">Bluetooth & Wireless Speakers</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Car Electronics')">Car Electronics</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Musical Instruments')">Musical Instruments</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Wearable Technology')">Wearable Technology</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Electronics Showcase')">Electronics Showcase</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Computers, Tablets, & PC Products')">Computers, Tablets, & PC Products</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Monitors')">Monitors</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Accessories')">Accessories</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Networking')">Networking</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Drives & Storage')">Drives & Storage</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Computer Parts & Components')">Computer Parts & Components</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Software')">Software</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Printers & Ink')">Printers & Ink</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Office & School Supplies')">Office & School Supplies</li>
						<li class="productText" (click)="Navigate('Electronics, Computers & Office', 'Trade In Your Electronics')">Trade In Your Electronics</li>
					</ul>
					<li data-toggle="collapse" class="productText" data-target="#collapseToysKidsAndBaby">Toys, Kids & Baby<span>(15)</span></li>
					<ul class="collapse" id="collapseToysKidsAndBaby">
						<li class="productText" (click)="Navigate('Toys, Kids & Baby', 'Toys & Games')">Toys & Games</li>
						<li class="productText" (click)="Navigate('Toys, Kids & Baby', 'Baby')">Baby</li>
						<li class="productText" (click)="Navigate('Toys, Kids & Baby', 'Video Games for Kids')">Video Games for Kids</li>
						<li class="productText" (click)="Navigate('Toys, Kids & Baby', 'Kids Birthdays')">Kids Birthdays</li>
						<li class="productText" (click)="Navigate('Toys, Kids & Baby', 'For Girls')">For Girls</li>
						<li class="productText" (click)="Navigate('Toys, Kids & Baby', 'For Boys')">For Boys</li>
						<li class="productText" (click)="Navigate('Toys, Kids & Baby', 'For Baby')">For Baby</li>
					</ul>
					<li data-toggle="collapse" class="productText" data-target="#collapsePetSupplies">Pet Supplies<span>(15)</span></li>
					<ul class="collapse" id="collapsePetSupplies">
						<li class="productText" (click)="Navigate('Pet Supplies', 'Pet Profile')">Pet Profile</li>
						<li class="productText" (click)="Navigate('Pet Supplies', 'Dog Supplies')">Dog Supplies</li>
						<li class="productText" (click)="Navigate('Pet Supplies', 'Dog Food')">Dog Food</li>
						<li class="productText" (click)="Navigate('Pet Supplies', 'Cat Supplies')">Cat Supplies</li>
						<li class="productText" (click)="Navigate('Pet Supplies', 'Cat Food')">Cat Food</li>
						<li class="productText" (click)="Navigate('Pet Supplies', 'Fish & Aquatic Pets')">Fish & Aquatic Pets</li>
						<li class="productText" (click)="Navigate('Pet Supplies', 'Small Animals')">Small Animals</li>
						<li class="productText" (click)="Navigate('Pet Supplies', 'Birds')">Birds</li>
					</ul>
					<li data-toggle="collapse" class="productText" data-target="#collapseClothingShoesAndJewelry">Clothing, Shoes & Jewelry<span>(15)</span></li>
					<ul class="collapse" id="collapseClothingShoesAndJewelry">
						<li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Women')">Women</li>
						<li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Men')">Men</li>
						<li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Girls')">Girls</li>
						<li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Boys')">Boys</li>
						<li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Baby')">Baby</li>
						<li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Luggage')">Luggage</li>
						<li class="productText" (click)="Navigate('Clothing, Shoes & Jewelry', 'Prime Wardrobe')">Prime Wardrobe</li>
					</ul>
					<li data-toggle="collapse" class="productText" data-target="#collapseAutomotiveAndIndustrial">Automotive & Industrial<span>(15)</span></li>
					<ul class="collapse" id="collapseAutomotiveAndIndustrial">
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Automotive Parts & Accessories')">Automotive Parts & Accessories</li>
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Automotive Tools & Equipment')">Automotive Tools & Equipment</li>
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Car/Vehicle Electronics & GPS')">Car/Vehicle Electronics & GPS</li>
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Tires & Wheels')">Tires & Wheels</li>
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Motorcycle & Powersports')">Motorcycle & Powersports</li>
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Vehicles')">Vehicles</li>
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Your Garage')">Your Garage</li>
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Industrial Supplies')">Industrial Supplies</li>
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Lab & Scientific')">Lab & Scientific</li>
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Janitorial')">Janitorial</li>
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Safety')">Safety</li>
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Food Service')">Food Service</li>
						<li class="productText" (click)="Navigate('Automotive & Industrial', 'Material Handling')">Material Handling</li>
					</ul>
					<li data-toggle="collapse" class="productText" data-target="#collapseHomeGardenAndTools">Home, Garden & Tools<span>(15)</span></li>
					<ul class="collapse" id="collapseHomeGardenAndTools">
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Kitchen & Dining')">Kitchen & Dining</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Furniture')">Furniture</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Bed & Bath')">Bed & Bath</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Appliances')">Appliances</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Garden & Outdoor')">Garden & Outdoor</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Fine Art')">Fine Art</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Arts, Crafts & Sewing')">Arts, Crafts & Sewing</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Pet Supplies')">Pet Supplies</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Wedding Registry')">Wedding Registry</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Event & Party Supplies')">Event & Party Supplies</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Home Improvement')">Home Improvement</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Power & Hand Tools')">Power & Hand Tools</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Lamps & Light Fixtures')">Lamps & Light Fixtures</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Kitchen & Bath Fixtures')">Kitchen & Bath Fixtures</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Hardware')">Hardware</li>
						<li class="productText" (click)="Navigate('Home, Garden & Tools', 'Smart Home')">Smart Home</li>
					</ul>
					<li data-toggle="collapse" class="productText" data-target="#collapseBeautyHealth">Beauty & Health<span>(15)</span></li>
					<ul class="collapse" id="collapseBeautyHealth">
						<li class="productText" (click)="Navigate('Beauty & Health', 'All Beauty')"> All Beauty</li>
						<li class="productText" (click)="Navigate('Beauty & Health', 'Luxury Beauty')">Luxury Beauty</li>
						<li class="productText" (click)="Navigate('Beauty & Health', 'Professional Skin Care')">Professional Skin Care</li>
						<li class="productText" (click)="Navigate('Beauty & Health', 'Salon & Spa')">Salon & Spa</li>
						<li class="productText" (click)="Navigate('Beauty & Health', 'Men’s Grooming')">Men’s Grooming</li>
						<li class="productText" (click)="Navigate('Beauty & Health', 'Health, Household & Baby Care')">Health, Household & Baby Care</li>
						<li class="productText" (click)="Navigate('Beauty & Health', 'Vitamins & Dietary Supplements')">Vitamins & Dietary Supplements</li>
						<li class="productText" (click)="Navigate('Beauty & Health', 'Subscribe & Save')">Subscribe & Save</li>
						<li class="productText" (click)="Navigate('Beauty & Health', 'Prime Pantry')">Prime Pantry</li>
						<li class="productText" (click)="Navigate('Beauty & Health', 'Sample Boxes')">Sample Boxes</li>
					</ul>
					<li data-toggle="collapse" class="productText" data-target="#collapseHandmade">Handmade<span>(15)</span></li>
					<ul class="collapse" id="collapseHandmade">
						<li (click)="Navigate('Handmade', 'All Handmade')">All Handmade</li>
						<li (click)="Navigate('Handmade', 'Jewelry')">Jewelry</li>
						<li (click)="Navigate('Handmade', 'Handbags & Accessories')">Handbags & Accessories</li>
						<li (click)="Navigate('Handmade', 'Beauty & Grooming')">Beauty & Grooming</li>
						<li (click)="Navigate('Handmade', 'Home Decor')">Home Decor</li>
						<li (click)="Navigate('Handmade', 'Artwork')">Artwork</li>
						<li (click)="Navigate('Handmade', 'Stationery & Party Supplies')">Stationery & Party Supplies</li>
						<li (click)="Navigate('Handmade', 'Kitchen & Dining')">Kitchen & Dining</li>
						<li (click)="Navigate('Handmade', 'Furniture')">Furniture</li>
						<li (click)="Navigate('Handmade', 'Wedding')">Wedding</li>
						<li (click)="Navigate('Handmade', 'Baby')">Baby</li>
					</ul>
					<li data-toggle="collapse" class="productText" data-target="#collapseSportsOutdoors">Sports & Outdoors<span>(15)</span></li>
					<ul class="collapse" id="collapseSportsOutdoors">
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Athletic Clothing')">Athletic Clothing</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Exercise & Fitness')">Exercise & Fitness</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Hunting & Fishing')">Hunting & Fishing</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Team Sports')">Team Sports</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Fan Shop')">Fan Shop</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Golf')">Golf</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Leisure Sports & Game Room')">Leisure Sports & Game Room</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Sports Collectibles')">Sports Collectibles</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'All Sports & Fitness')">All Sports & Fitness</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'New Gear Innovations')">New Gear Innovations</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Camping & Hiking')">Camping & Hiking</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Cycling')">Cycling</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Outdoor Clothing')">Outdoor Clothing</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Scooters, Skateboards & Skates')">Scooters, Skateboards & Skates</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Winter Sports')">Winter Sports</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Climbing')">Climbing</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'Accessories')">Accessories</li>
						<li class="productText" (click)="Navigate('Sports & Outdoors', 'All Outdoor Recreation')">All Outdoor Recreation</li>
					</ul>
				</ul>
			</div>
		</div>
		<div class="col-md-8 products-right">
			<div class="products-right-grid">
				<div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
					<div class="sorting">
						<select id="country" onchange="change_country(this.value)" class="frm-field required sect">
								<option value="null">Default sorting</option>
								<option value="null">Sort by popularity</option> 
								<option value="null">Sort by average rating</option>					
								<option value="null">Sort by price</option>								
							</select>
					</div>
					<div class="sorting-left">
						<select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
								<option value="null">Item on page 9</option>
								<option value="null">Item on page 18</option> 
								<option value="null">Item on page 32</option>					
								<option value="null">All</option>								
							</select>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="products-right-grids-bottom">
				<div class="col-md-4 products-right-grids-bottom-grid" *ngFor='let product of products; let i = index'>
					<div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s" style="height: 480px !important; margin-top: 15px !important;">
						<div class="new-collections-grid1-image">
							<label data-toggle="modal" data-target="#singleModal" (click)="setProductToView(product)" class="product-image"><img src="{{serverImgurl+product.ImageName}}" alt=" " class="img-responsive" /></label>
							<div class="new-collections-grid1-image-pos">
								<a style="cursor: pointer" data-toggle="modal"  (click)="setProductToView(product)" data-target="#singleModal">Quick View</a>
							</div>
						</div>
						<div style="position: absolute; bottom: 0;">
						<h4><label style="text-align: center !important;margin-left: 0px !important;" data-toggle="modal" data-target="#singleModal" (click)="setProductToView(product)">{{product.Name}}</label></h4>
						<p data-toggle="tooltip" data-placement="top" title="{{ product.Description }}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 230px;">{{product.Description}}</p>
						<div class="simpleCart_shelfItem products-right-grid1-add-cart">
							<p *ngIf="product.IsOnSpecial == 0"><span style="text-align: center !important;margin-left: 0px !important;" class="item_price">R {{product.Price}}</span><a class="item_add" style="width: 85% !important;margin-bottom: 5px !important;" href="#">add to cart </a></p>
							<p *ngIf="product.IsOnSpecial == 1"><i style="margin-right: 35px;">R {{product.Price}}</i> <span style="text-align: center !important;margin-left: 0px !important;" class="item_price">R {{product.Discount}} </span></p>
							<p *ngIf="product.IsOnSpecial == 1"><a class="item_add" style="width: 85% !important;margin-bottom: 5px !important;" href="#">add to cart </a></p>
						</div>
						</div>
					</div>
				</div>	
				<div class="clearfix"> </div>
			</div>
			<nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
				<ul class="pagination paging">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>

<!-- Single Modal -->
<div class="modal fade" style="margin-top: 100px;" id="singleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">	
	<div class="container" style="background-color: white; width: 70% !important;">		
    <button type="button" class="close" data-dismiss="modal" style="font-size: 30px; margin-right: -10px !important;" id="closeModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
		<br><br>
    <div class="col-md-12 single-right">
        <div class="col-md-5 single-right-left animated slideInUp" data-wow-delay=".5s">
            <div>
				<img src="{{selectedImage}}" data-imagezoom="true" class="img-responsive">
				<br>
				<div class="row">
					<div class="col-sm-2" style="width: 20%;height: 40%;">
						<img src="{{serverImgurl+productToView.ImageName}}" class="img-responsive" (click)="setSelectedImage(productToView.ImageName)">
					</div>
					<div *ngIf="productToView.ImageName1 != null" class="col-sm-2" style="width: 20%;height: 40%;margin-left: -21px;">
						<img src="{{serverImgurl+productToView.ImageName1}}" class="img-responsive" (click)="setSelectedImage(productToView.ImageName1)">
					</div>
					<div *ngIf="productToView.ImageName2 != null" class="col-sm-2" style="width: 20%;height: 40%;margin-left: -21px;">
						<img src="{{serverImgurl+productToView.ImageName2}}" class="img-responsive" (click)="setSelectedImage(productToView.ImageName2)">
					</div>
					<div *ngIf="productToView.ImageName3 != null" class="col-sm-2" style="width: 20%;height: 40%;margin-left: -21px">
						<img src="{{serverImgurl+productToView.ImageName3}}" class="img-responsive" (click)="setSelectedImage(productToView.ImageName3)">
					</div>
				</div>    
					<br>            
            </div>
        </div>
        <div class="col-md-7 single-right-left simpleCart_shelfItem animated slideInRight" data-wow-delay=".5s">
            <h3>{{productToView.Name}}</h3>
            <h4 *ngIf="!productToView.IsOnSpecial"><span class="item_price">R {{productToView.Price}}</span></h4>
            <div class="new-collections-grid1-left simpleCart_shelfItem" *ngIf="productToView.IsOnSpecial">
		        <p><i>R {{productToView.Price}}</i> <span class="item_price">R {{productToView.Discount}} </span></p>
		    </div>
            <div class="rating1">
                <span class="starRating">
							<input id="rating5" type="radio" name="rating" value="5">
							<label for="rating5">5</label>
							<input id="rating4" type="radio" name="rating" value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio" name="rating" value="3" checked>
							<label for="rating3">3</label>
							<input id="rating2" type="radio" name="rating" value="2">
							<label for="rating2">2</label>
							<input id="rating1" type="radio" name="rating" value="1">
							<label for="rating1">1</label>
						</span>
            </div>
            <div class="description">
                <h5><i>Description</i></h5>
                <p>{{productToView.Description}}</p>
            </div>
			<div class="color-quality">
                <div class="color-quality-left">
                </div>
                <div class="color-quality-right">
                    <h5>Quality :</h5>
                    <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
								<option value="1">1 Qty</option>
								<option value="2">2 Qty</option> 
								<option value="3">3 Qty</option>	
								<option value="4">4 Qty</option>				
								<option value="5">5 Qty</option>		
								<option value="6">6 Qty</option>
								<option value="7">7 Qty</option>
								<option value="8">8 Qty</option>
								<option value="9">9 Qty</option>
								<option value="10">10 Qty</option>	
								<option value="11">11 Qty</option>
								<option value="12">12 Qty</option>
								<option value="13">13 Qty</option>
								<option value="14">14 Qty</option>	
								<option value="15">15 Qty</option>				
							</select>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="color-quality">
                <div class="color-quality-left">
                    <h5>Color : </h5>
                    <ul>
                        <li *ngFor='let thiscolor of colors; let i = index'><a href="#" ><span [ngStyle]="{'background-color':thiscolor}"></span>{{thiscolor}}</a></li>
                    </ul>
                </div>
            </div>
			<br><br><br>
            <div class="occasion-cart" style="margin-top: 70px !important">
                <a class="item_add" href="#">add to cart </a>
            </div>
            <div class="social">
                <div class="social-left">
                    <p>Share On :</p>
                </div>
                <div class="social-right">
                    <ul class="social-icons">
                        <li>
                            <a href="#" class="facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="g"></a>
                        </li>
                        <li>
                            <a href="#" class="instagram"></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
</div>
<!-- Single Modal -->